WebUI/Schemas/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InvoiceNumber" type="xs:string"/>
        <xs:element name="IssueDate" type="xs:date"/>
        <xs:element name="CustomerName" type="xs:string"/>
        <xs:element name="TotalAmount" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
